<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- This plist fil will run Utterson when a change in the source files is detected.

     This plist file is to be placed in `~/Library/LaunchAgents`.
     You might need to log of and on for this plist to get activated.
     Alternatevly run `launchctl load ~/Library/LaunchAgents/nl.pepijndevos.utterson.plist`.

     /usr/bin/java          -> location of your java executable, in doubt; ignore it!
     utterson-standlone.jar -> location of the Utterson jar as compiled by `lein uberjar`.
     /source/dir            -> location of the directory containing your markdown and template files.
     /target/dir            -> destination of the html files.
-->
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>nl.pepijndevos.utterson</string>
	<key>OnDemand</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/java</string>
		<string>-jar</string>
		<string>utterson-standalone.jar</string>
		<string>/source/dir</string>
		<string>/target/dir</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/source/dir</string>
	</array>
</dict>
</plist>
